.no-padding
{
  padding: 0;
}

.no-margin
{
  margin: 0;
}

.row-margin
{
  margin-left:-15px;
  margin-right: -15px;
}

.p-hor-20
{
  padding-left:20px;
  padding-right: 20px;
}

.p-hor-60
{
  padding-left:60px;
  padding-right: 60px;
}

.p-ver-70
{
  padding-top:70px;
  padding-bottom: 70px;
}

.p20
{
  padding: 20px;
}

.p30
{
  padding: 30px;
}

.pl0
{
  padding-left: 0;
}

.margin-auto
{
  margin:0 auto;
}

.mt0
{
  margin-top:0;
}

.mt10
{
  margin-top:10px;
}

.mt50
{
  margin-top:50px;
}
.mt60
{
  margin-top:50px;
}

.mt70
{
  margin-top:70px;
}

.mt80
{
  margin-top:80px !important;
}
.mt100 {
  margin-top:100px;
}
.mb0
{
  margin-bottom: 0;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10{
  margin-bottom: 10px;
}

.mb50{
  margin-bottom: 50px;
}

.mb70
{
  margin-bottom:70px;
}

.mb80{
  margin-bottom: 80px;
}

.mb90{
  margin-bottom: 90px;
}

.ml10
{
  margin-left: 10px;
}

.ml15
{
  margin-left: 15px;
}
.ml40
{
  margin-left: 40px;
}

.mr5 {
  margin-right: 5px;
}

.mr10
{
  margin-right: 10px;
}

.mr15
{
  margin-right: 15px;
}
.mr20
{
  margin-right: 20px;
}

.mr30
{
  margin-right: 30px;
}
.mr50
{
  margin-right: 50px;
}
.mt20
{
  margin-top: 20px;
}

.mt30
{
  margin-top: 30px;
}
 .mt40{
 margin-top: 40px;
 }
.mb15
{
  margin-bottom: 15px;
}

.mb20
{
  margin-bottom: 20px;
}

.mb25
{
  margin-bottom: 25px;
}

.mb30
{
  margin-bottom: 30px;
}

.mb40
{
  margin-bottom: 40px;
}

.mb45
{
  margin-bottom: 45px;
}

.mb50
{
  margin-bottom: 50px;
}

.mb60
{
  margin-bottom: 60px;
}

.mb100
{
  margin-bottom: 100px;
}

.text-center
{
  text-align: center;
}

.text-right
{
  text-align: right;
}

.text-left
{
  text-align: left;
}

.full-width
{
  width:100%;
}

.full-height
{
  height:100%;
}
.margin-200per{
	margin-top:150%
}

.pos-r
{
  position: relative;
}

.pos-a
{
  position: absolute;
}
.pos-f
{
  position: fixed;
}

.block
{
  display:block;
}

.no-display {
  display: none;
}

.h70 {
  height:70px;
}

.font-700 {
  font-weight: 700;
}

.font-800 {
  font-weight: 800;
}

.font-size-14 {
  font-size: 14px;
}
.pull-left{
	margin-left:60%;
}
.pull-left-total{
	margin-left:70%;
}
.active {
  color: green;
}
.mt10per{
	margin-top:10%;
}
 .ml45per{
 margin-left:45%
 }
 .mt15{
	margin-top:15px;
}
.mlNeg10{
	margin-left:-10px;
}
.mtNeg10{
	margin-top:-10px;
}

.modal-bg {
	background:rgba(0,0,0,0.5);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:11;
}

.file-upload-container {
	background:#FFF;
	padding:10px;
	border-radius:5px;
	margin:40px auto;
	float:none;
	width:360px;
	position:relative;
}
.video-upload-container {
	background:#FFF;
	padding:30px;
	border-radius:5px;
	margin:40px auto;
	float:none;
	width:360px;
	position:relative;
}
.upload-btn-container {
	float: none;
    width: 190px;
    margin: auto;
}

.close-modal {
	position:absolute;
	right:0;
	top:0;
	background:rgba(255,255,255,0.8);
	color:#2D2D2D;
	border-bottom-left-radius:3px;
	border:0;
	font-size:22px;
}
.align
{text-align: left;
}
.word-break{
	word-break: break-all;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
.p-ver-20
{
	padding-top: 20px;
	padding-bottom:20px;
}

 .image-upload > input {
  visibility:hidden;
  width:0;
  height:0
}
input[type=file] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.delete-container {
	background:#FFF;
	padding:10px;
	border-radius:9px;
	margin:40px auto;
	float:none;
	width:360px;
	position:relative;
	height:200px;
	margin-top:100px;
}
.delete-btn-container {
	float: none;
    width: 100%;
    margin-top: 10px;
    height:100%;
}
.vertical-line{
	border-left: 2px solid #801800;
    height: auto;
}
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 20px;
}
.drop-down{
	color:#9e9999;
}
.ml35{
	margin-left:35px;
}
.page-hdrCstm{
	border-bottom: 1px solid #ff8e8e;
}
.text-box{
	width: 300px;
    height: 100px;
    padding: 50px;
    border: 1px solid red;
    box-sizing: border-box;
}
/*auto suggest component styles begin*/
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.footer {
  margin: 9px 20px;
  font-size: 12px;
  color: #777;
}

.selectedTags {
	list-style-type: none;
    display: block;
    padding: 0;
    float: left;
    width: 100%;
    margin-top:10px;
}

.selectedTags li {
	float: left;
    background: #ff8e91;
    padding: 5px 10px;
    color: #FFF;
    border-radius: 20px;
    line-height: 20px;
    height: 30px;
    position:relative;
    margin-right:10px;
}

.selectedTags li span {
	margin-right:10px;
	float:left;
}

.selectedTags li .close-tag {
	position:absolute;
	right:5px;
	color:#FFF;
	line-height:20px;
}
/*auto suggest component styles end*/